#Database Configuration
db.driver=com.mysql.cj.jdbc.Driver
db.url=jdbc:mysql://localhost:3306/
db.name=applications
db.username=yourusername
db.password=yourpassword

#JSON for testing
json.junit={"company":"JUnit Test Company","position":"JUnit Test Position","location":"JUnit Test Location","dateApplied":"2015-01-01","contactName":"JUnit Test Name","contactMethod":"JUnit Test Method","contactedMeFirst":"Yes","status":"Open","notes":"JUnit testing action!"}
json.junit.validate={"company": "Permanent Test Company","position": "Permanent Test Position","location": \
                     "Permanent Test Location","dateApplied": "2015-01-01","contactName":                  \
                     "Permanent Test Name","contactMethod": "Permanent Test Method","contactedMeFirst":    \
                     "Yes","status": "Open","notes": "Permanent test notes."}
json.junit.update={"company": "Permanent Test Company","position": "Permanent Test Position","location": \
                     "Permanent Test Location","dateApplied": "2015-01-01","contactName":                  \
                     "Permanent Test Name","contactMethod": "Permanent Test Method","contactedMeFirst":    \
                     "No","status": "Closed","notes": "Permanent test notes updated."}
